---
import MainLayout from '../layouts/MainLayout.astro';
import ProfileCard from '../components/ProfileCard.jsx';
import ActivationButton from '../components/ActivationButton.jsx';
import QrButton from '../components/QrButton.jsx';
import RegularButton from '../components/RegularButton.jsx';

---


<MainLayout>
	<h1>Home</h1>
	<ProfileCard name = "Wendy" age = {10} bio = "160 cm" pictureSrc = "src"/>
	<ActivationButton/>
	<div>
		<QrButton/>
		<div>
			<RegularButton text = "Ajustes" iconSrc = "Gear"/>
			<RegularButton text = "FAQ" iconSrc = "ChatBox"/>
		</div>
	</div>
</MainLayout>	